<ion-view view-title="Register">
    <ion-content padding="30" ng-controller="RegisterCtrl">
        <div class="list list-inset" style="margin-left:20px;margin-right:20px;">
            <label class="item item-input" style="margin-bottom: 20px">
                <input type="text" ng-model="account" placeholder="账号">
            </label>
            <label class="item item-input" style="margin-bottom: 20px">
                <input type="password" ng-model="password" placeholder="密码">
            </label>
            <label class="item item-input" style="margin-bottom: 20px">
                <input type="password" ng-model="confirmPassword" placeholder="确认密码">
            </label>

            <label class="item" style="border: none;">
                <button class="button button-full button-positive" ng-click="register()">
                    注册
                </button>
            </label>
            <label class="item item-input" style="margin-bottom: 20px">
                {{result}}
                <pre>http status code: {{status}}</pre>
                <pre>http response data: {{data}}</pre>
            </label>
        </div>
    </ion-content>
</ion-view>