<ion-view view-title="手机号">
    <ion-content ng-controller="BindCtrl" style="background-color: #f7f4f0;">
        <div class="list list-inset myList">
            <div class="item item-input listItem" style="border: none;">
                <i class="ion-iphone placeholder-icon"></i>
                <input type="password" ng-model="password" placeholder="请输入密码">
            </div>
        </div>
        <div class="downSection">
            <button class="singleButton"
                    ng-click="bind()">
                绑定账号
            </button>
        </div>
    </ion-content>
</ion-view>