<ion-view view-title="手机号">
    <ion-content ng-controller="MobileCtrl" style="background-color: #f7f4f0;">
        <toaster-container toaster-options="{'time-out': 1000}"></toaster-container>
        <div class="list list-inset myList">
            <div class="item item-input listItem" style="border: none;">
                <i class="ion-iphone placeholder-icon"></i>
                <input type="text" ng-model="phone" placeholder="请输入手机号">
            </div>
        </div>
        <div class="downSection">
            <button class="singleButton"
                    ng-click="nextStep()">
                下一步
            </button>
        </div>
    </ion-content>
</ion-view>