<div class="list list-inset" style="margin: 0px;">
    <div class="statusHeader" style="padding:13px; height: 55px; text-align: center;">
        <div style="display: inline-block;color:#f3930a; height: 30px;width: 90px;margin-right: -4px; border-style: solid;border-right-style:none; border-width: 1px;border-bottom-left-radius: 5px;border-top-left-radius: 5px;">
            申请中
        </div>
        <div style="display: inline-block;color:#f3930a; height: 30px;width: 90px;margin-right: -4px;border-style: solid;border-width: 1px;">
            还款中
        </div>
        <div style="display: inline-block;color:#f3930a; height: 30px;width: 90px;margin-right: -4px;border-style: solid;border-left-style:none; border-width: 1px; border-bottom-right-radius: 5px;border-top-right-radius: 5px;">
            已完成
        </div>
    </div>
</div>
<div style="display: table; border-collapse:collapse; width: 92%; margin-left: 13px; margin-right: 13px;">
    <div class="tableHeader">
        <div class="headerCell">金额</div>
        <div class="headerCell secondColumn">利率</div>
        <div class="headerCell thirdColumn">还款日</div>
        <div class="headerCell lastColumn">进度</div>
        <div class="headerCell"></div>
    </div>

    <div class="tableRow">
        <div class="tableCell">6,000</div>
        <div class="tableCell secondcolumn">6.5%</div>
        <div class="tableCell thirdColumn">15-12-2</div>
        <div class="tableCell lastColumn">2/12</div>
        <div class="tableCell">
            <i class="icon ion-chevron-right icon-accessory" style="color: #e3dcd3"></i>
        </div>
    </div>
    <div class="tableRow">
        <div class="tableCell">6,000</div>
        <div class="tableCell secondcolumn">6.5%</div>
        <div class="tableCell thirdColumn">15-12-2</div>
        <div class="tableCell lastColumn">2/12</div>
        <div class="tableCell">
            <i class="icon ion-chevron-right icon-accessory" style="color: #e3dcd3"></i>
        </div>
    </div>
    <div class="tableRow">
        <div class="tableCell">6,000</div>
        <div class="tableCell secondcolumn">6.5%</div>
        <div class="tableCell thirdColumn">15-12-2</div>
        <div class="tableCell lastColumn">2/12</div>
        <div class="tableCell">
            <i class="icon ion-chevron-right icon-accessory" style="color: #e3dcd3"></i>
        </div>
    </div>
    <div class="tableRow">
        <div class="tableCell">6,000</div>
        <div class="tableCell secondcolumn">6.5%</div>
        <div class="tableCell thirdColumn">15-12-2</div>
        <div class="tableCell lastColumn">2/12</div>
        <div class="tableCell">
            <i class="icon ion-chevron-right icon-accessory" style="color: #e3dcd3"></i>
        </div>
    </div>
    <div class="tableRow">
        <div class="tableCell">6,000</div>
        <div class="tableCell secondcolumn">6.5%</div>
        <div class="tableCell thirdColumn">15-12-2</div>
        <div class="tableCell lastColumn">2/12</div>
        <div class="tableCell">
            <i class="icon ion-chevron-right icon-accessory" style="color: #e3dcd3"></i>
        </div>
    </div>
    <div class="tableRow">
        <div class="tableCell">6,000</div>
        <div class="tableCell secondcolumn">6.5%</div>
        <div class="tableCell thirdColumn">15-12-2</div>
        <div class="tableCell lastColumn">2/12</div>
        <div class="tableCell">
            <i class="icon ion-chevron-right icon-accessory" style="color: #e3dcd3"></i>
        </div>
    </div>
    <div class="tableRow">
        <div class="tableCell">6,000</div>
        <div class="tableCell secondcolumn">6.5%</div>
        <div class="tableCell thirdColumn">15-12-2</div>
        <div class="tableCell lastColumn">2/12</div>
        <div class="tableCell">
            <i class="icon ion-chevron-right icon-accessory" style="color: #e3dcd3"></i>
        </div>
    </div>
</div>
</div>