<ion-view>
    <ion-content>
        <ion-list>
            <ion-item href="#/mobileCheck/111111">
                进入思特沃克互联网金融
            </ion-item>

            <ion-item href="#/register">
                注册
            </ion-item>

            <ion-item href="#/bind">
                绑定
            </ion-item>

            <ion-item href="#/subjects">
                标的列表
            </ion-item>

            <ion-item href="#/profile">
                个人中心
            </ion-item>

            <ion-item href="#/mySubjects">
                持有标的
            </ion-item>

            <ion-item href="#/myInvestments">
                我的资产
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>