<ion-view view-title="项目详情">
    <ion-content ng-controller="SubjectDetailCtrl" style="padding: 30px">

        <div style="height: 20px;margin-bottom: 10px">
            <span>{{subject.title}}</span>
            <span style="position: absolute;right: 10px">{{subject.status}}</span>
        </div>

        <div style="display: table; height: 60px; width: 100%; margin-bottom: 20px">
            <div style="display: table-cell; width: 33%; vertical-align: middle; horiz-align: center">
                <p>年化利率</p>
                {{subject.instalmentPolicy.annualRate}}
            </div>

            <div style="display: table-cell; width: 33%; vertical-align: middle">
                <p>项目期限</p>
                {{subject.time_left}}天
            </div>

            <div style="display: table-cell; vertical-align: middle">
                <p>项目金额</p>
                {{subject.amount.amount}}元
            </div>
        </div>

        <div style="height: 40px; margin-bottom: 20px">
            <div>
                <span>还款方式：{{subject.instalmentPolicy.type}}</span>
                <span style="position: absolute;right: 20px">起投金额：{{subject.currentInvestmentAmount.amount}}元</span>
            </div>
            <div>
                <span>投资进度：{{subject.currentInvestmentAmount.amount/subject.amount.amount*100}}%</span>
            </div>
        </div>

    </ion-content>

    <ion-footer-bar style="height: 60px; padding: 10px" class="bar bar-footer">

        <span style="text-align: center;line-height:40px; font-size: large">
            剩余可投：{{subject.amount.amount-subject.currentInvestmentAmount.amount}}元
        </span>

        <div style="height:40px;margin-left:auto;">
            <button class="button"
                    style=" margin-right: 10px; float: right; padding-left: 20px; padding-right: 20px; font-size: large"
                    ng-click="popupAmount()">
                立即投资
            </button>

        </div>

    </ion-footer-bar>
</ion-view>
