<ion-view view-title="项目列表">
    <ion-content ng-controller="SubjectsCtrl">
        <ion-list>
            <ion-item class="item-remove-animate item-icon-right" ng-repeat="subject in subjects"
                      type="item-text-wrap" href="#/subjects/{{subject.id}}">
                <div style="height: 20px;margin-bottom: 10px">
                    <span>{{subject.title}}</span>
                    <span style="position: absolute;right: 40px">{{subject.status}}</span>
                </div>

                <div style="display: table; height: 60px; width: 100%; margin-bottom: 10px">
                    <div style="display: table-cell; width: 33%; vertical-align: middle">
                        <p>年化利率</p>
                        {{subject.annual_rate}}
                    </div>

                    <div style="display: table-cell; width: 33%; vertical-align: middle">
                        <p>项目期限</p>
                        {{subject.time_left}}天
                    </div>

                    <div style="display: table-cell; width: 33%; vertical-align: middle">
                        <p>起投金额</p>
                        {{subject.min_inv_amount}}元
                    </div>
                </div>
                <i class="icon ion-chevron-right icon-accessory"></i>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>