<div class="list list-inset" style="margin: 0px;">
    <ion-item style="margin-left: 13px;margin-right: 13px; padding-left: 0px;padding-right: 0px; border-left-style: none; border-right-style: none;">
        <div style="display: table; border-collapse:collapse; width: 100%;">
            <div style="display: table-row; width: 100%;height: 25px;">
                <div style="display: table-cell; width: 50%;">
                    充值成功
                </div>
                <div style="display: table-cell;width: 50%;text-align: right;">
                    32,000
                </div>
            </div>
            <div style="display: table-row; width: 100%;">
                <div style="display: table-cell; width: 50%;">
                    15-12-1
                </div>
                <div style="display: table-cell;width: 50%;text-align: right;">
                    余额：32,000
                </div>
            </div>
        </div>
    </ion-item>

    <ion-item style="margin-left: 13px;margin-right: 13px; padding-left: 0px;padding-right: 0px; border-left-style: none; border-right-style: none;">
        <div style="display: table; border-collapse:collapse; width: 100%;">
            <div style="display: table-row; width: 100%;height: 25px;">
                <div style="display: table-cell; width: 50%;">
                    充值成功
                </div>
                <div style="display: table-cell;width: 50%;text-align: right;">
                    32,000
                </div>
            </div>
            <div style="display: table-row; width: 100%;">
                <div style="display: table-cell; width: 50%;">
                    15-12-1
                </div>
                <div style="display: table-cell;width: 50%;text-align: right;">
                    余额：32,000
                </div>
            </div>
        </div>
    </ion-item>

    <ion-item style="margin-left: 13px;margin-right: 13px; padding-left: 0px;padding-right: 0px; border-left-style: none; border-right-style: none;">
        <div style="display: table; border-collapse:collapse; width: 100%;">
            <div style="display: table-row; width: 100%;height: 25px;">
                <div style="display: table-cell; width: 50%;">
                    充值成功
                </div>
                <div style="display: table-cell;width: 50%;text-align: right;">
                    32,000
                </div>
            </div>
            <div style="display: table-row; width: 100%;">
                <div style="display: table-cell; width: 50%;">
                    15-12-1
                </div>
                <div style="display: table-cell;width: 50%;text-align: right;">
                    余额：32,000
                </div>
            </div>
        </div>
    </ion-item>

    <ion-item style="margin-left: 13px;margin-right: 13px; padding-left: 0px;padding-right: 0px; border-left-style: none; border-right-style: none;">
        <div style="display: table; border-collapse:collapse; width: 100%;">
            <div style="display: table-row; width: 100%;height: 25px;">
                <div style="display: table-cell; width: 50%;">
                    充值成功
                </div>
                <div style="display: table-cell;width: 50%;text-align: right;">
                    32,000
                </div>
            </div>
            <div style="display: table-row; width: 100%;">
                <div style="display: table-cell; width: 50%;">
                    15-12-1
                </div>
                <div style="display: table-cell;width: 50%;text-align: right;">
                    余额：32,000
                </div>
            </div>
        </div>
    </ion-item>
</div>