<ion-view view-title="项目列表">
    <ion-content>
        <ion-list>
            <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="subject in subjects" type="item-text-wrap" href="#/subjects/{{subject.id}}">
                <h2>{{subject.title}}</h2>
                <p>{{subject.annual_rate}}</p>
                <p>{{subject.time_left}}</p>
                <p>{{subject.min_inv_amount}}</p>
                <i class="icon ion-chevron-right icon-accessory"></i>

                <ion-option-button class="button-assertive" ng-click="remove(chat)">
                    Delete
                </ion-option-button>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
