/* css for register pages */
div.statusHeader {
    height: 86px;
    background-color: #f7f4f0;
    /*border-bottom-color: #f0ebe5;*/
    /*border-bottom-width: 1px;*/
    /*border-bottom-style: solid;*/
}

div.downSection {
    background-color: #f7f4f0;
    bottom: 0px;
}

.statusLine {
    top: 58px;
    position: absolute;
    margin: 0px;
    padding: 0px;
    background-color: #e3dcd3;
}

img.square {
    height: 12px;
    width: 12px;
}

button.singleButton {
    margin-top: 20px;
    margin-left: 30px;
    height: 42px;
    width: 256px;
    background-color: #f5a328;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border-radius: 5px;
    border: none;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: #c8890e;
}

button.inputButton {
    background-color: #b7b3af;
    color: white;
    height: 32px;
    width: 92px;
    border-radius: 3px;
    border: none;
}

.myList {
    margin: 0px;
    padding: 0px;
    border-style: none;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-top-style: solid;
    border-top-width: 1px;
    border-color: #e3dcd3;
    border-width: 1px;
    padding-left: 12px;
    padding-right: 12px;
}

.listItem {
    height: 50px;
    border-style: none;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    padding-left: 10px;
}

.listLine {
    width: 100%;
    height: 1px;
    margin: 3px;
    padding: auto;
    background-color: #f0ebe5;
}

.tableHeader {
    display: table-row;
    width: 100%;
    height: 40px;
    font-size: 14px;
    color: #BFB0A3;
    border-bottom: solid;
    border-bottom-color: #e3dcd3;
    border-bottom-width: 1px;
    margin-left: 13px;
    margin-right: 13px;
}

.headerCell {
    padding-top: 13px;
    padding-bottom: 13px;
    display: table-cell;
    text-align: center;
    margin: 0px;
    /*border-bottom: solid;*/
    /*border-bottom-color: #e3dcd3;*/
    /*border-bottom-width: 1px;*/
}

.secondColumn {
    width: 60px;
}

.thirdColumn {
    width: 100px;
}

.lastColumn {
    width: 60px;
}

.tableRow {
    display: table-row;
    width: 100%;
    height: 50px;
    font-size: 16px;
    color: #403B36;
    border-bottom: solid;
    border-bottom-color: #e3dcd3;
    border-bottom-width: 1px;
}

.tableCell {
    padding-top: 16px;
    padding-bottom: 16px;
    display: table-cell;
    text-align: center;
    margin: 0px;
    /*border-bottom: solid;*/
    /*border-bottom-color: #e3dcd3;*/
    /*border-bottom-width: 1px;*/
}

.myCard {
    margin: 12px 10px;
    padding: 5px 14px;
    height: 118px;
}